<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.recode.bancode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BanCode"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaContasActivity" />
        <activity android:name=".ListaMovimentacoesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="Cadastro de usuário"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ClienteActivity"
            android:label="Área do cliente" />
        <activity
            android:name=".EditarClienteActivity"
            android:label="Editar dados"
            android:parentActivityName=".ClienteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClienteActivity" />
        </activity>
        <activity
            android:name=".EditarContaActivity"
            android:label="Editar conta"
            android:parentActivityName=".ClienteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClienteActivity" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="Área administrativa">
        </activity>
    </application>

</manifest>